openapi: 3.0.0
info:
  title: Microsoft Graph Plugin - Get Devices (User Authentication)
  description: API to retrieve a list of domains using Microsoft Graph API with user credentials.
  version: 1.0.0
servers:
  - url: https://graph.microsoft.com/v1.0
    description: Microsoft Graph API server
paths:
  /domains:
    get:
      summary: Get domains
      description: Retrieve a list of domains registered in the Entra ID Tenant.
      responses:
        '200':
          description: List of domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Domain ID.
                        isDefault:
                          type: boolean
                          description: True if this is the default domain that is used for user creation.
                        authenticationType:
                          type: string
                          description: Indicates the configured authentication type for the domain - either Managed or Federated. 
                        isVerified:
                          type: boolean
                          description: True if the domain has completed domain ownership verification.
        '401':
          description: Unauthorized error.
        '403':
          description: Forbidden access.
        '500':
          description: Internal server error.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
